@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@400;500&family=Fraunces:opsz@9..144&family=Jacques+Francois&family=Poppins&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Fraunces', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./assets/back.jpg');
  min-height: 100%;
  background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o elemento body */
  background-repeat: no-repeat; /* Evita repetição da imagem */
}

@media only screen and (max-width: 600px) {
  body {
    background-size: auto;
    font-size: 14px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: white;
  font-size: 25px;
}

p{
  color: white;
  font-size: 20px;
  margin-top: -5px;
}

a {
  color:white; /* Defina a cor desejada para os links */
  text-decoration: none; /* Remova a decoração padrão de sublinhado */
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2d1950;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(178, 121, 216, 0.959);
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(222, 130, 235, 0.911);
  border-radius: 12px;
}